# Welcome to Lab 1!

# Lab 1: Python Basics

Explanation: Python is a powerful, easy-to-learn, and widely-used programming language in data science and machine learning.

Key points: interpreted, dynamically typed, high-level.

How to run Python code: interactive shell, script files, Jupyter notebooks.

## Printing and Comments

In [ ]:
# This is a single-line comment

print("Hello, FOML students!")  # Output will be shown below

## Variables and Data Types

Variables store data. Naming rules and case sensitivity.

Data types with examples:

Integers (int): whole numbers.

Floating point numbers (float): decimals.

Strings (str): text surrounded by quotes.

Booleans (bool): True or False.

In [ ]:
# Integer
a = 5

# Float
b = 3.14

# String
c = "Data Science"

# Boolean
d = True

print(a, b, c, d)
print(type(a), type(b), type(c), type(d))

In [ ]:
x = 1.0

# check if the variable x is a float
type(x) is float

# Type casting

In [ ]:
x = 1.5

print(x, type(x))

In [ ]:
x = int(x)

print(x, type(x))

In [ ]:
z = complex(x)

print(z, type(z))

In [ ]:
x = float(z)

Complex variables cannot be cast to floats or integers. We need to use z.real or z.imag to extract the part of the complex number we want:

In [ ]:
y = bool(z.real)
print(z.real, " -> ", y, type(y))

y = bool(z.imag)
print(z.imag, " -> ", y, type(y))

## Basic Operations

Arithmetic operators: + - * / // % **

Examples with integers and floats.

Operator precedence and parentheses.

Comparison operators: ==, !=, >, <, >=, <=.

Logical operators: and, or, not.

In [ ]:
# Arithmetic
add = 2 + 3
sub = 5 - 4
mul = 2 * 3
div = 7 / 2  # always float in Python 3

# Exponentiation and Modulo
exp = 2 ** 3  # 2 to the power 3
mod = 7 % 3   # remainder

print(add, sub, mul, div, exp, mod)

In [ ]:
x = 10
y = 3
print("Add:", x + y)
print("Divide:", x / y)
print("Floor Divide:", x // y)
print("Power:", x ** y)
print("Is x greater than y?", x > y)
print("Logical AND:", True and False)

Note: The / operator always performs a floating point division in Python 3.x. This is not true in Python 2.x, where the result of / is always an integer if the operands are integers. to be more specific, 1/2 = 0.5 (float) in Python 3.x, and 1/2 = 0 (int) in Python 2.x (but 1.0/2 = 0.5 in Python 2.x).

The boolean operators are spelled out as the words and, not, or.

In [ ]:
True and False

In [ ]:
not False

# Comparison operators >, <, >= (greater or equal), <= (less or equal), == equality, is identical.

In [ ]:
(2 > 1, 2 < 1)

In [ ]:
(2 > 2, 2 < 2)

In [ ]:
(2 >= 2, 2 <= 2)

In [ ]:
# equality
[1,2] == [1,2]

In [ ]:
# identity
[1,2] is [1,2]

In [ ]:
# objects identical?
l1 = [1,2]
l2 = l1

l1 is l2

# Question: is = and (is) are different?, How?

# Strings and String Methods


String creation, quotes (single, double, triple).

Escape characters (\n, \t).

String concatenation and repetition.

Accessing characters by indexing and slicing.

Useful string methods (.lower(), .upper(), .strip(), .replace(), .split()).

In [ ]:
s = "Python is fun!"
print(s[0], s[-1])
print(s[0:6])
print(s.lower())
print(s.split())

In [ ]:
s = "Hello world"
type(s)

In [ ]:
# length of the string: the number of characters
len(s)

In [ ]:
# replace a substring in a string with something else
s2 = s.replace("world", "test")
print(s2)

In [ ]:
s[0]

We can extract a part of a string using the syntax [start:stop], which extracts characters between index start and stop -1 (the character at index stop is not included):

In [ ]:
s[0:5]

In [ ]:
s[4:5]

In [ ]:
s[:5]

In [ ]:
s[6:]

In [ ]:
s[:]

In [ ]:
s[::1]

In [ ]:
s[::2]

This technique is called slicing. Read more about the syntax here: https://docs.python.org/3/library/functions.html#slice

Python has a very rich set of functions for text processing. See for example https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str for more information.

Remember, as the documentation makes clear, str is actually a sequence type.

# String formatting examples

In [ ]:
print("str1", "str2", "str3")  # The print statement concatenates strings with a space

In [ ]:
print("str1", 1.0, False, -1j)  # The print statements converts all arguments (where it can) to strings

In [ ]:
print("str1" + "str2" + "str3") # strings added with + are concatenated without space

In [ ]:
# formatting a string [more on this later]
s3 = 'value1 = {0}, value2 = {1}'.format(3.1415, 1.5)

print(s3)

# Data Structures (Lists, Tuples, Dictionaries, Sets)

## Lists
Ordered, mutable collections.

Creating, indexing, slicing, adding/removing elements.

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits[1])

In [ ]:
l = [1,2,3,4]  # actually it's pretty bad practice to call your list 'l', it looks a lot like '1'

print(type(l))
print(l)

In [ ]:
print(l)

print(l[1:3])

print(l[::2])

In [ ]:
l = [1, 'a', 1.0, 1-1j]

print(l)

In [ ]:
nested_list = [1, [2, [3, [4, [5]]]]]

nested_list

# Range

Lists play a very important role in Python. For example they are used in loops and other flow control structures (discussed below). There are a number of convenient functions for generating lists of various types, for example the range function:

In [ ]:
start = 10
stop = 30
step = 2

range(start, stop, step)

In [ ]:
# sorting lists
s3 = sorted(s2)
print(s3)

In [ ]:
# create a new empty list
l = []

# add an elements using `append`
l.append("A")
l.append("d")
l.append("d")

print(l)

In [ ]:
l[1] = "p"
l[2] = "p"

print(l)

In [ ]:
l.insert(0, "i")
l.insert(1, "n")
l.insert(2, "s")
l.insert(3, "e")
l.insert(4, "r")
l.insert(5, "t")

print(l)

In [ ]:
del l[7]
del l[6]

print(l)

In [ ]:
# 1. Creating a list with different data types
fruits = ["apple", "banana", "cherry"]
numbers = [1, 2, 3, 4, 5]
mixed = [1, "hello", 3.14, True]

print(fruits)       # Output: ['apple', 'banana', 'cherry']
print(numbers)      # Output: [1, 2, 3, 4, 5]
print(mixed)        # Output: [1, 'hello', 3.14, True]

# 2. Accessing elements by index (0-based)
print(fruits[0])    # apple (first element)
print(fruits[-1])   # cherry (last element)

# 3. Modifying elements
fruits[1] = "blueberry"
print(fruits)       # ['apple', 'blueberry', 'cherry']

# 4. Adding elements
fruits.append("date")         # Add to end
print(fruits)                 # ['apple', 'blueberry', 'cherry', 'date']

fruits.insert(1, "banana")   # Insert at index 1
print(fruits)                 # ['apple', 'banana', 'blueberry', 'cherry', 'date']

# 5. Removing elements
fruits.remove("cherry")  # Remove by value
print(fruits)            # ['apple', 'banana', 'blueberry', 'date']

popped = fruits.pop()    # Remove and return last element
print(popped)            # date
print(fruits)            # ['apple', 'banana', 'blueberry']

# 6. Slicing lists (getting sublists)
print(fruits[1:3])      # ['banana', 'blueberry']
print(fruits[:2])       # ['apple', 'banana']
print(fruits[::2])      # ['apple', 'blueberry'] (every 2nd element)

# 7. Iterating over a list
for fruit in fruits:
    print(fruit)

# 8. Checking membership
print("banana" in fruits)   # True
print("date" in fruits)     # False

# 9. Length of a list
print(len(fruits))          # 3

# Tuple

In [ ]:
# 1. Creating tuples
empty_tuple = ()
single_element_tuple = (10,)  # Note the comma
regular_tuple = (1, 2, 3, 4)
mixed_tuple = (1, "hello", 3.14, True)

print(empty_tuple)          # Output: ()
print(single_element_tuple) # Output: (10,)
print(regular_tuple)        # Output: (1, 2, 3, 4)
print(mixed_tuple)          # Output: (1, 'hello', 3.14, True)

# 2. Accessing tuple elements (indexing and negative indexing)
print(regular_tuple[0])   # Output: 1 (first element)
print(regular_tuple[-1])  # Output: 4 (last element)

# 3. Slicing tuples
print(regular_tuple[1:3])  # Output: (2, 3)
print(regular_tuple[:2])   # Output: (1, 2)
print(regular_tuple[::2])  # Output: (1, 3)

# 4. Immutability - tuples cannot be changed after creation
# regular_tuple[1] = 10  # This would raise an error: TypeError: 'tuple' object does not support item assignment

# 5. Tuple concatenation and repetition
t1 = (1, 2)
t2 = (3, 4)
print(t1 + t2)     # Output: (1, 2, 3, 4)
print(t1 * 3)      # Output: (1, 2, 1, 2, 1, 2)

# 6. Tuple unpacking
a, b, c = (10, 20, 30)
print(a)  # Output: 10
print(b)  # Output: 20
print(c)  # Output: 30

# 7. Nested tuples
nested = ((1, 2), (3, 4))
print(nested)          # Output: ((1, 2), (3, 4))
print(nested[0][1])    # Output: 2

# 8. Using tuples as dictionary keys (because tuples are immutable)
dict_with_tuple_keys = { (1, 2): "point A", (3, 4): "point B" }
print(dict_with_tuple_keys[(1, 2)])  # Output: point A

# 9. Length of a tuple
print(len(mixed_tuple))   # Output: 4

# 10. Iterating over a tuple
for item in mixed_tuple:
    print(item)

# 11. Converting list to tuple
lst = [1, 2, 3]
t = tuple(lst)
print(t)  # Output: (1, 2, 3)

# 12. Tuple with mutable objects inside

## Sets
Unordered, unique elements

In [ ]:
unique_nums = {1, 2, 2, 3}
print(unique_nums)

In [ ]:
# 1. Creating sets
fruits = {"apple", "banana", "cherry"}
numbers = {1, 2, 3, 4, 5}
mixed = {1, "hello", 3.14, (2, 3)}

print(fruits)       # Output: {'banana', 'cherry', 'apple'} (order not guaranteed)
print(numbers)      # Output: {1, 2, 3, 4, 5}
print(mixed)        # Output: {1, 3.14, 'hello', (2, 3)}

# 2. Creating an empty set (note: {} creates an empty dict)
empty_set = set()
print(empty_set)    # Output: set()

# 3. Adding and removing elements
fruits.add("orange")
print(fruits)       # {'banana', 'cherry', 'orange', 'apple'}

fruits.remove("banana")  # Remove specified element
print(fruits)            # {'cherry', 'orange', 'apple'}

fruits.discard("kiwi")   # Remove element if exists, no error if not present

# 4. Checking membership
print("apple" in fruits)     # True
print("banana" in fruits)    # False

# 5. Set operations between two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Union - all unique elements from both sets
print(set1 | set2)           # {1, 2, 3, 4, 5, 6}

# Intersection - common elements
print(set1 & set2)           # {3, 4}

# Difference - elements in set1 but not in set2
print(set1 - set2)           # {1, 2}

# Symmetric difference - elements in either set but not both
print(set1 ^ set2)           # {1, 2, 5, 6}

# 6. Iterating over a set
for fruit in fruits:
    print(fruit)

# 7. Set comprehension: create a set of squares of numbers 1 to 5
squares = {x**2 for x in range(1, 6)}
print(squares)              # {1, 4, 9, 16, 25}

## Dictionaries
Key-value pairs, unordered.

In [ ]:
student = {"name": "John", "age": 21}
print(student["name"])
student["age"] = 22

In [ ]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(person)

In [ ]:
print(person["name"])   # Alice
print(person.get("age"))  # 30
print(person.get("email", "Not available"))  # Not available (safe access)

In [ ]:
person["email"] = "alice@example.com"   # Add new key-value pair
person["age"] = 31                      # Update existing key
print(person)

In [ ]:
del person["city"]          # Remove by key
print(person)

In [ ]:
email = person.pop("email") # Remove and return value
print(email)
print(person)

In [ ]:
for key in person:
    print(key)              # Prints keys

In [ ]:
for value in person.values():
    print(value)            # Prints values

In [ ]:
for key, value in person.items():
    print(f"{key}: {value}")

In [ ]:
# 6. Checking for presence of a key
print("name" in person)     # True
print("city" in person)     # False

In [ ]:
print(len(person))

In [ ]:
users = {
    "user1": {"name": "Alice", "age": 30},
    "user2": {"name": "Bob", "age": 25}
}
print(users["user1"]["name"])  # Alice

## In Python, four fundamental data structures- lists, tuples, sets, and dictionaries provide versatile ways to organize and manage collections of data effectively.


Lists are ordered and mutable, allowing you to store collections of items that can be changed, expanded, or reduced over time. This makes them ideal for scenarios such as maintaining an evolving list of students or tasks where order and flexibility matter.


Tuples, on the other hand, are similar to lists but immutable; once created, their contents cannot be altered. This immutability makes tuples perfect for representing fixed data like coordinates, RGB color values, or configuration settings, and because they are hashable, they can be used as keys in dictionaries.


Sets are unordered collections of unique elements, which shine in situations where you need to eliminate duplicates, check membership efficiently, or perform classic mathematical operations like unions and intersections-for example, finding shared students between two classes.


Finally, dictionaries store key-value pairs, offering a powerful way to quickly retrieve information based on unique keys, such as mapping employee IDs to their profiles or product names to prices. By understanding these core structures and their characteristics, you can choose the right tool for your data, resulting in clear, efficient, and maintainable Python code tailored to your problem's needs.

## Exercises:

Create a list of numbers, add elements, remove an element.

Create a dictionary to store info about a book.

# Control Flow: Conditionals and Loops

## Conditionals
if, elif, else.

Boolean expressions.

In [ ]:
score = 75
if score >= 90:
    print("A grade")
elif score >= 60:
    print("Pass")
else:
    print("Fail")

In [ ]:
statement1 = False
statement2 = True

if statement1:
    print("statement1 is True")

elif statement2:
    print("statement2 is True")

else:
    print("statement1 and statement2 are False")

In [ ]:
statement1 = False
statement2 = False

if statement1:
    print("s1 is true")
elif statement2:
    print("s2 is true")
else:
    print("neither of them are true")

In [ ]:
statement1 = True
statement2 = True

if statement1:
    if statement2:
        print("both statement1 and statement2 are True")

In [ ]:
# Bad indentation!
if statement1:
    if statement2:
    print("both statement1 and statement2 are True")  # this line is not properly indented

In [ ]:
statement1 = False

if statement1:
    print("printed if statement1 is True")

    print("still inside the if block")

In [ ]:
if statement1:
    print("printed if statement1 is True")

print("now outside the if block")

## Exercise: Write program to classify a number as positive, negative, or zero.

## Loops

For loops over ranges and collections.

While loops with conditions.

break and continue.

In [ ]:
for x in [1,2,3]:
    print(x)

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)

In [ ]:
for x in range(-3,3):
    print(x)

In [ ]:
for (idx, x) in enumerate(range(-3,3)):
    print(idx, x)

## Exercise: Print all even numbers from a list.

# Functions

## Defining and calling functions.

Parameters and return values.

Default parameters.

Variable scope.

In Python, functions are reusable blocks of code designed to perform a specific task. They help organize code into manageable, modular parts, improve readability, and avoid repetition.


A function is defined using the **def** keyword, followed by a **name and parentheses** that may include **parameters (inputs)**.

Inside the function, you write the statements that execute the task.

Functions can optionally return a value using the return statement.

In [ ]:
def func0():
    print("test")

In [ ]:
func0()

In [ ]:
def func1(s):
    """
    Print a string 's' and tell how many characters it has
    """

    print(s + " has " + str(len(s)) + " characters")

In [ ]:
help(func1)

In [ ]:
def square(x):
    """
    Return the square of x.
    """
    return x ** 2

In [ ]:
square(4)

In [ ]:
def powers(x):
    """
    Return a few powers of x.
    """
    return (x ** 2, x ** 3, x ** 4)

In [ ]:
powers(3)

Default argument and keyword arguments
In a definition of a function, we can give default values to the arguments the function takes:

In [ ]:
def greet(name="Student"):
    print("Hello", name)

greet()
greet("Alice")

In [ ]:
def myfunc(x, p=2, debug=False):
    if debug:
        print("evaluating myfunc for x = " + str(x) + " using exponent p = " + str(p))
    return x**p

In [ ]:
myfunc(5)

In [ ]:
myfunc(5, debug=True)

In [ ]:
myfunc(p=3, debug=True, x=7)

If we explicitly list the name of the arguments in the function calls, they do not need to come in the same order as in the function definition. This is called keyword arguments, and is often very useful in functions that takes a lot of optional arguments.

# Congratulations on completing this foundational journey into Python!

### Mastering these core concepts - from lists and dictionaries to functions and control flow - sets you on the path to exploring the exciting world of machine learning with confidence.

### Remember, programming is as much about creativity and problem-solving as it is about syntax. Keep experimenting, stay curious, and don't be afraid to make mistakes - they are the stepping stones to true mastery. As you move forward, these skills will empower you to transform data into insight and ideas into impactful solutions.

# Happy coding, and welcome to the vibrant community of Python learners!